@charset "utd-8";
body {
    background-color: #1a1923;
}
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100vh;
}
.star-rating {
    position: absolute;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.wrapper {
    display: flex;
    margin-bottom: 15px;
}
.stars {
    margin-right: 10px;
    cursor: pointer;
}
h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.btn {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 48px;
    width: 128px;
    border-radius: 24px;
    border: 1px solid #9DC96E;
    letter-spacing: 0.7px;
}
dialog {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 400px;
    width: 300px;
    border: none;
    border-radius: 24px;
}
dialog img {
    border-radius: 24px;
}
dialog p {
    position: relative;
    top: -30px;
    left: 15px;
    letter-spacing: 0.7px;
    font-size: 17px;
    color: #fff;
}
.showing {
    color: #9DC96E;
    background-color: transparent;
}
.hiding {
    background-color: #9DC96E;
    color: #fff;
}